#map { 
   position:relative;
    height: 100vh;
    width: 100vw;
 }

 .button {
    border:none;
   display:block;
    color:black;
    font-family: helvetica;
    font-weight: bold;
    cursor:pointer;
    font-size: 18px;
    background: none;
    z-index: 1000;
    left:20px;

   
 }

 .button:hover {
   background:rgba(255, 255, 255, .75);
 }
#buttons {
   z-index: 1000;
   position:absolute;
   left:20px;
   top:25%;
}
 body {
    background-color: white;
 }

 li {
   text-decoration: none;
   list-style-type: none;
   font-family: helvetica;
   font-weight: bold;
   right:0px;
   font-size: 18px;
  
  
 }

 #music {
   background:rgba(255, 255, 255, .5);
   color:#FF3B24;
 }

 #banging {
   background:rgba(255, 255, 255, .5);
  
   color:#00A079;
 }

 #talking {
   background:rgba(255, 255, 255, .5);
  
   color:#3D00A0;
 }

 #car {
  
   background:rgba(255, 255, 255, .5);
   color:#BB0096;
 }

 #other {
   background:rgba(255, 255, 255, .5);

   color:#656565;
 }

 #list {
   z-index: 1000;
   position:absolute;
   right:20px;
 }

 #about {
   z-index: 1000;
   position:absolute;
   bottom:0px;
   background-color: white;
   font-family: helvetica;
   font-weight: bold;
 }