#map { 
    height: 100vh;
    width: 100vw;
 }

 .button {
    border:none;
    color:black;
    font-family: helvetica;
    font-weight: bold;
    cursor:pointer;
 }

 body {
    background-color: black;
 }